ion-content {
  background: red;
}

#container {
  height: 100%;
  width: 100%;
}

.status {
  color: var(--ion-body-color);
  font-size: 2rem;
  font-weight: 700;

  .tiny {
    font-size: 0.7rem;
    text-align: center;
  }
}

.content {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40px;

  .math {
    padding-top: 30px;
    font-size: 5rem;
    color: var(--ion-text-color);
    font-weight: 700;
  }
}

ion-card.compact {
  margin: 1px;

  & > ion-card-content {
    padding: 15px;
    height: 55px;
  }
}

ion-card.answer-card ion-card-content {
  font-size: 2rem;
  color: var(--ion-text-color);
}
