<ion-content [fullscreen]="true">
  <div id="container" [style]="{'background': gradient}">
    <div class="content">

      <div class="status">
        {{right}}/{{total}} - {{ currentTime }}
      </div>

      <ion-card>
        <ion-card-content>
          <div class="math">
            {{ question }}
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-input [(ngModel)]="answer" type="number" (keypress)="clickityClackityOnTheKeyboardEventHandler($event)" autofocus></ion-input>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
